{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Proyecto5</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Proyecto python nivel 5</h1>
        
        <p>1) Empleando el marco de desarrollo Django y el manejador de bases de datos POSTGRESQL, desarrolle una aplicación web, donde la interface de usuario, corresponda a un sitio web dinámico, que permita la gestión y administración de datos personales (ingreso de datos y un reporte de los datos almacenados). Los datos en cuestión son los siguientes:</p>
        
        <ul>
            <li>DNI (Documento nacional de Identificación o cédula de identidad)</li>
            <li>NOMBRES</li>
            <li>APELLIDOS</li>
            <li>SEXO</li>
            <li>DIRECCION</li>
            <li>TELÉFONO</li>
            <li>CORREO ELECTRÓNICO</li>
        </ul>  
        
        <p>2) La aplicación, debe permitir el ingreso de registros y la generación de un reporte de los datos almacenados. Para ello, debe emplear los recursos estudiados a través del curso, que le provee el marco de desarrollo Django, así como los demás componentes necesarios para el desarrollo de un sitio web dinámico.</p>

        <p>3) Estos datos deben ser almacenados en una base de datos POSTGRESQL.</p>

        <p>4) Para el desarrollo de la interface gráfica (es libre de crear el diseño que le resulte más conveniente), así mismo debe desarrollar, la base de datos con sus respectivas tablas, para ejecutar las funcionalidades requeridas. Haga uso del ORM de Django.</p>

        <p>5) Debe incorporar la utilización de métodos jQuery y funcionalidades en Javascript a los efectos de validar los datos ingresados. Tome como referencia los usos de expresiones regulares, para validar los siguientes campos: TELÉFONO y CORREO ELECTRÓNICO. Se deben emitir mensajes informativos, empleando los recursos estudiados en jQuery y JavaScript.</p>

        <p>6) Además de cargar el proyecto en la plataforma de cursos de UNEWEB, el estudiante lo debe publicar en GITHUB, empleando GIT y enviar la dirección pública del mismo, al momento de compartir el proyecto para revisión</p>  
    </div>
    
    <div class="boton">
        <a href="{% url 'lista_personas' %}" class="entry">Entrar a la lista de personas</a>
    </div>
</body>
</html>