{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Lista de Personas</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="tabla">
    <h1>Lista de Personas</h1>
    <a href="{% url 'inicio' %}" class="entry-tabla">Volver a inicio</a>
    <a href="{% url 'crear_persona' %}" class="entry-tabla">Registrar nueva persona</a>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>DNI</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Sexo</th>
          <th>Fecha de nacimiento</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Correo electrónico</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for persona in personas %}
        <tr>
          <td>{{ persona.DNI }}</td>
          <td>{{ persona.nombres }}</td>
          <td>{{ persona.apellidos }}</td>
          <td>{{ persona.get_sexo_display }}</td>
          <td>{{ persona.fecha_nacimiento }}</td>
          <td>{{ persona.direccion }}</td>
          <td>{{ persona.telefono }}</td>
          <td>{{ persona.correo }}</td>
          <td>
            <a href="{% url 'editar' persona.DNI %}" class="btn-editar">Editar</a>
            <form action="{% url 'eliminar' persona.DNI %}" method="post" style="display:inline; margin:0; padding:0;" onsubmit="return confirm('¿Estás seguro que deseas eliminar este registro?');">
                {% csrf_token %}
                
                <button type="submit" class="btn-eliminar">Eliminar</button>
            </form>
        </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="9">No hay personas registradas.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>